@font-face {font-family: 'LuloCleanOutline-Bold';src: url('../fonts/38791F_0_0.eot');src: url('../fonts/38791F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/38791F_0_0.woff2') format('woff2'),url('../fonts/38791F_0_0.woff') format('woff'),url('../fonts/38791F_0_0.ttf') format('truetype');}

// $dark: #19191a;
// $dark: #0f0d1a;
$dark: #100e1b;

@mixin bigheader {
  font-size: 4.32em;
  @media screen and (max-width: 992px), screen and (max-height: 580px) {
    font-size: 3.18em;
  }
  @media screen and (max-width: 720px) {
    font-size: 2.68em;
  }
  @media screen and (max-width: 580px) {
    font-size: 2.48em;
  }
}
@mixin heading2 {
  font-size: 3.88em;
  @media screen and (max-width: 992px) {
    font-size: 3.08em;
  }
  @media screen and (max-width: 480px) {
    font-size: 2.62em;
  }
}
@mixin navText {
  font-size: 2.68em;
  @media screen and (max-width: 992px) {
    font-size: 1.98em;
  }
  @media screen and (max-width: 480px) {
    font-size: 1.42em;
  }
}
@mixin projectText {
  font-size: 2.08em;
  @media screen and (max-width: 992px) {
    font-size: 1.88em;
  }
  @media screen and (max-width: 480px) {
    font-size: 1.68em;
  }
}

@mixin paragraph {
  font-size: 1.12em;
  @media screen and (max-width: 992px) {
    font-size: 1.04em;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.96em;
  }
}

html, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  background: $dark;
  cursor: none;
  overflow-x: hidden;
  *{cursor: none !important}
}

body.no-cursor {
  cursor: auto !important;
  *{cursor: auto !important;}
  .cursor__ball {display: none !important;}
}



*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

a, a:visited, a:link, a:hover {
  color: inherit;
  text-decoration: none;
}

.attract-hover {
  display: inline-block;
  margin-top: -17.5px;
  padding: 35px 0;
  &:hover {
    .button {
      &.white {
        background-color: rgba(255,255,255,1);
        span {
          color: $dark;
          &:after {
            color: $dark !important;
          }
        }
      }
      transform: scale(1.05);
      background-color: rgba(25,25,26,1);
      span {
        color: #FFFFFF;
        &:after {
          color: #FFFFFF !important
        }
      }
    }
  }
}
.attract-hover-easing {
   transition: transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}








#main, #main * {cursor: none !important;}

// canvas{
//   position: relative;
//   width: 100%;
//   max-width: 880px;
//   max-height: 880px;
//   z-index: 500;
//   border: 2px solid #FFFFFF;
//   background: $dark;
//   background: rgba(89,201,235,1);
//   background: -moz-linear-gradient(45deg, rgba(89,201,235,1) 0%, rgba(130,30,245,1) 100%);
//   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(89,201,235,1)), color-stop(100%, rgba(130,30,245,1)));
//   background: -webkit-linear-gradient(45deg, rgba(89,201,235,1) 0%, rgba(130,30,245,1) 100%);
//   background: -o-linear-gradient(45deg, rgba(89,201,235,1) 0%, rgba(130,30,245,1) 100%);
//   background: -ms-linear-gradient(45deg, rgba(89,201,235,1) 0%, rgba(130,30,245,1) 100%);
//   background: linear-gradient(45deg, rgba(89,201,235,1) 0%, rgba(130,30,245,1) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59c9eb', endColorstr='#821ef5', GradientType=1 );
//   border-radius: 50%;
//   box-shadow: 0px 12px 24px rgba(0,0,0,0.12);
//   float: left;
// }


.loader {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  visibility: hidden;
  z-index: 99999;
  background: $dark;
  opacity: 0;
  pointer-events: none;
  transition: opacity 600ms ease-out;
  svg {
    position: fixed;
    top: 50%;
    left: 50%;
    background: $dark;
    width: 100%;
    transform: translate(-50%, -50%);
    max-width: 240px;
    polygon, rect {
      fill: rgba(255,255,255,0);
      stroke: #FFFFFF;
      stroke-width: 2.5;
      stroke-dasharray: 580;
      stroke-dashoffset: 580;
      // animation: none;
    }
  }
}


body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 999999;
}
body .cursor__ball circle {
  fill: #f7f8fa;
  fill: #FFFFFF;
}
body .cursor__ball--big circle {
  fill: rgba(255,255,255,0);
  stroke-width: 1.75px;
  stroke: #FFFFFF;
  transform-origin: 38% 36%;
}


.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}



.scene {
  position: relative;
  .scene_element {
    will-change: opacity;
    animation-name: fadeIn;
    // animation-duration: 1230ms;
    animation-duration: 640ms;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    animation-fill-mode: both;
    animation-delay: 640ms;
  }
  &.is-exiting {
    cursor: progress;
      .scene_element {
        animation-duration: 280ms;
        animation-direction: alternate-reverse;
        // animation-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      }
      .loader {
        opacity: 1;
        visibility: visible;
        svg {
          polygon, rect {
            animation-name: loading;
            animation-duration: 1920ms;
            animation-timing-function: cubic-bezier(0.355, 0.020, 0.355, 1.000);
            animation-iteration-count: infinite;
          }
        }
      }
  }
}

// body.loading {
//   .loader {
//     opacity: 1;
//     visibility: visible;
//     svg {
//       polygon, rect {
//         animation-name: loading;
//         animation-duration: 1920ms;
//         animation-timing-function: cubic-bezier(0.355, 0.020, 0.355, 1.000);
//         animation-iteration-count: infinite;
//       }
//     }
//   }
//   .logo {
//     a {
//       svg {
//         polygon, rect {
//           fill: $dark
//         }
//       }
//     }
//   }
// }


.gloop {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 102%;
  visibility: hidden;
  z-index: 9992;
}
.menu-toggle {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 60px;
  height: 60px;
  z-index: 9994 !important;
}
.hb {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: transform 375ms 125ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  .st {
    fill: none;
    // stroke: $dark;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
      &.top, &.bot {
        stroke-dasharray: 53 126;
        stroke-dashoffset: -73;
      }
      &.circ {
        stroke-dasharray: 290;
        stroke-dashoffset: -290;
      }
      &.top, &.bot, &.circ {
        transition: stroke-dashoffset 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
      }
  }
      &.toggled {
        .st{stroke: #FFFFFF !important;}
        transform: rotate(-45deg);
          .top, .bot {
            stroke-dashoffset: 0;
          }
          .circ {
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 300ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
          }
      }
}




.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  width: 100%;
  height: 98px;
  background: rgba(255,255,255,0);
  box-shadow: 0px -4px 24px rgba(0,0,0,0);
  transition: background 320ms ease-out, box-shadow 320ms ease-out;
  .container {
    .logo {
      position: absolute;
      top: 31px;
      left: 38px;
      width: 156px;
      display: inline-block;
      a {
        display: block;
        svg {
          width: 100%;
          max-width: 156px;
          polygon, rect {
            transition: fill 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
          }
        }
      }
    }
  }
}
nav {
  position: fixed;
  // top: 100%;
  // top: calc(22px + 4vw);
  top: 98px;
  padding-top: calc(48px + 2vw + 4vh);
  padding-bottom: 133px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 99999 !important;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background-color: $dark;
  transition: opacity 0ms ease-out !important;
  ul {
    position: relative;
    list-style: none;
    text-align: center;
    li {
      list-style-type: none;
      color: #FFFFFF;
      display: block;
      margin: calc(12px + 1.8vh + 1.3vw) auto;
      &:first-child {margin-top: 0;}
      &:last-child {margin-bottom: 0;}
      opacity: 0;
      transform: translateY(48px);
      transition: transform 0ms cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 0ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
      &.icon-item {
        display: inline-block;
        margin: 0 2px;
      }
      a {
        display: inline-block;
        height: 100%;
        padding: 2px 6px;
        &:hover {
          span.style-nav {
            // letter-spacing: 0.088em;
            // span {letter-spacing: -0.058em;}
            &:after {
              transform: translate(-50%, 0%) scaleX(1);
            }
          }
        }
        &:active, &.active {
          span.style-nav {
            opacity: 0.5 !important;
          }
        }
        &.active {
          span.style-nav {
            &:after {
              display: none;
            }
          }
        }
        span {
          &.style-nav {
            @include navText;
            text-transform: uppercase;
            font-weight: 800;
            word-spacing: 0.14em;
            letter-spacing: 0.14em;
            line-height: 1.1;
            position: relative;
            padding-bottom: 8px;
            span {
              font-size: 0.88em;
              font-weight: 600;
              letter-spacing: 0em;
              font-family: 'LuloCleanOutline-Bold', sans-serif;
            }
            &:after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              height: 3px;
              background: #FFFFFF;
              transform: translate(-50%, 0%) scaleX(0);
              width: 100%;
              backface-visibility: hidden;
              transition: transform 280ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
          }
        }
        .nav-icon {
          display: inline-block;
          width: 48px;
          height: 48px;
          border-radius: 48px;
          line-height: 60px;
          text-align: center;
          margin: 0 2px;
          box-shadow: 0px 2px 6px rgba(0,0,0,0.16);
          i {
            font-size: 1.68em;
            color: #FFFFFF;
          }
          &.fb {background: #3b5998;}
          &.ig {background: #cd486b;}
          &.li {background: #0077b5;}
          &.em {background: #d69600;}
        }
        .nav-icon {
          transition: background-color 260ms ease-out;
          transition: background-color 260ms ease-out;
        }
      }
    }
  }
}

.nav-is-open {
  pointer-events: all;
  overflow-y: auto !important;
  visibility: visible;
  opacity: 1;
  ul {
    li {
      opacity: 1;
      transform: translateY(0px);
      transition: transform 680ms cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity 680ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
      &:first-child {transition-delay: 0ms}
      &:nth-child(2) {transition-delay: 120ms}
      &:nth-child(3) {transition-delay: 240ms}
      &:nth-child(4) {transition-delay: 360ms}
      &:nth-child(5) {transition-delay: 480ms}
      &:nth-child(6) {transition-delay: 600ms}
      &:nth-child(7) {transition-delay: 720ms}
      &:nth-child(8) {transition-delay: 840ms}
      &:nth-child(9) {transition-delay: 960ms}
      &.icon-item {transition-delay: 880ms;}
    }
  }
}


@mixin bggradient {
  background: rgba(16,14,27,1);
  background: -moz-linear-gradient(top, rgba(16,14,27,1) 0%, rgba(16,14,27,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,14,27,1)), color-stop(100%, rgba(16,14,27,0)));
  background: -webkit-linear-gradient(top, rgba(16,14,27,1) 0%, rgba(16,14,27,0) 100%);
  background: -o-linear-gradient(top, rgba(16,14,27,1) 0%, rgba(16,14,27,0) 100%);
  background: -ms-linear-gradient(top, rgba(16,14,27,1) 0%, rgba(16,14,27,0) 100%);
  background: linear-gradient(to bottom, rgba(16,14,27,1) 0%, rgba(16,14,27,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#100e1b', endColorstr='#100e1b', GradientType=0 );
}
@mixin bgdark {
  background: rgba(16,14,27,1);
}
.main-menu--gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  height: 188px;
  @include bggradient;
}

.c-w {
  color: #FFFFFF;
  transition: color 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

}
.c-b {
  color: $dark !important;
}


.topmenu--fixed {
  position: absolute;
  top: 0;
  width: 100%;
  &.top {
    transition: none;
    transform: translateY(0);
    .c-w {
      .nav-contact {
        background-color: rgba(255,255,255,0);
        border: 2px solid #FFFFFF;
        span {color: #FFFFFF;}
        &:hover {
          background-color: rgba(255,255,255,1);
          span {color: $dark;}
        }
      }
    }

  }
  &.not-top {
    position: fixed;
    transform: translateY(-108%);
    background: rgba(255,255,255,1);
    @include bgdark;
  }
  &.slideDown.not-top {
    transition: transform 420ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 80ms linear, background 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transform: translateY(0);
    background: rgba(255,255,255,1);
    @include bgdark;
    // box-shadow: 0px -4px 24px rgba(0,0,0,0.22);
    // .f-w, .f-w, .main-logo.f-w > polygon, .main-logo.f-w > rect, .f-b {
    //   fill: $dark;
    // }
    // .f-w, .hb {
    //   .st {
    //     stroke: $dark;
    //   }
    // }
    // .c-w {color: $dark;}
  }
  &.slideDown.top {
    position: fixed;
    transition: box-shadow 90ms linear, background 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    // background: rgba(255,255,255,0);
    background: rgba(16,14,27,0);
    // @include bgdark;
    // box-shadow:  0px -4px 24px rgba(0,0,0,0);
  }
  &.slideUp.not-top {
    transition: transform 480ms cubic-bezier(0.645, 0.045, 0.130, 1.000), box-shadow 80ms linear, background 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transform: translateY(-108%);
    // .f-w, .main-logo.f-w > polygon, .main-logo.f-w > rect, .f-b {
    //   fill: $dark;
    // }
    // .c-w {color: $dark;}
    // .f-w, .hb {
    //   .st {
    //     stroke: $dark;
    //   }
    // }
  }
  &.slideUp.top {
    transform: translateY(-108%);
    position: absolute;
  }
}

.f-w, .main-logo.f-w > polygon, .main-logo.f-w > rect {
  fill: #FFFFFF;
}

.f-w {
  .st {
    stroke: #FFFFFF;
  }
}
.f-b {
  fill: #FFFFFF;
}

.menu-open {
  overflow-y: hidden !important;
  .main-menu {
    position: fixed !important;
    top: 0 !important;
    transform: translateY(0%) !important;
    background-color: $dark !important;
  }
  .main-menu,
  nav {
    transition: background 320ms ease-out, opacity 320ms ease-out !important;
  }
}


.main-menu.has-open {
  box-shadow:  0px -4px 24px rgba(0,0,0,0) !important;
  .logo {
    svg {
      polygon, rect {
        fill: #FFFFFF !important;
      }
    }
  }
}

main {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 38px;
  z-index: 10;
  &.container--s {
    width: 88%;
    max-width: 1280px;
  }
}
.container.flx {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.flx--home {
    // margin: 0 0;
    // max-width: 88rem;
    justify-content: flex-start;
    // background: #000;
    .fl-text {
      flex: 1;
      p {
        max-width: calc(6vw + 26rem);
      }
    }
  }
  .fl-img {
    flex: 1;
    padding-right: 12px;
    img {
      display: block;
      margin: 0 0;
      width: 100%;
      max-width: calc(0.6vw + 362px);

    }
  }
  .fl-text {
    flex: 1.4;
    // background: #ededed;
    padding-left: 12px;
    &.n-p {
      padding-left: 0px;
    }
    p {
      max-width: 41rem;
    }
    &.right {
      text-align: right;
      h1, h2, p, .button-holder {float: right; clear: both;}
    }
  }
  &.rtl {
    .fl-text {padding-right: 12px; padding-left: 0px;}
    .fl-img {padding-left: 12px; padding-right: 0px;}
  }
  &.rtr {
    .fl-text {
      text-align: right;
      h1, h2, p, .button-holder {float: right; clear: both;}
    }
  }
}




header, section {
  overflow: hidden;
}

header {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 880px;
  display: block;
  // background: #FFFFFF;
  background-color: $dark;
  h1 {
    width: auto;
    margin: 0 0;
    @include bigheader;
    text-transform: uppercase;
    letter-spacing: 0.108em;
    line-height: 1.16;
    // white-space: nowrap !important;
    span {
      letter-spacing: 0.012em;
      font-size: 0.86em;
      font-weight: 600;
      font-family: 'LuloCleanOutline-Bold', sans-serif;
    }
  }
  .fl-img {
    padding-top: 0.88vw;
  }
  &.white {
    h1, p {
      color: #FFFFFF;
    }
  }
  &.bi-header {
    .header-bg {background: url('../img/pd-bg.jpg');}
  }
  &.pd-header {
    .header-bg {background: url('../img/bi-bg.jpg');}
  }
  .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.case-header {
  height: 100vh;
  min-height: 740px;
  max-height: 1080px;
  h1 {
    @include bigheader;
    line-height: 1;
    // span {
    //   display: block;
    // }
  }
  &.case-header--cyberox {
    background: $dark url('../img/cyberox-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.case-header--cxption {
    background: $dark url('../img/cxption-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.case-header--studiosurf {
    background: $dark url('../img/studiosurf-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.case-header--arktos {
    background: $dark url('../img/arktos-bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  &.case-header--jansu {
    background: $dark url('../img/jansu-bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
header.home-header {
  h1 {
    margin-top: calc(54px + 3vh);
  }
  @media screen and (max-width: 992px) {
    h1 {
      margin-top: calc(12px + 1.5vh);
    }
    p {
      max-width: 22.8rem !important;
    }
  }
}


section {
  position: relative;
  height: 92vh;
  min-height: 880px;
  display: block;
  width: 100%;
  background: #FFFFFF;
  padding: 22px 0;
  &.bl {
    background: $dark;
    h2, p {color: #FFFFFF;}
  }
  &.home-work {
    // background: url('../img/bg-1d.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: $dark;
    padding: 64px 0;
    min-height: 880px !important;
    height: auto !important;
  }
  &.home-pd {
    background: url('../img/pd-home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // background: #FFFFFF;
  }
  &.home-fw {
    // background: url('../img/bgfw.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // background: #FFFFFF;
    background-color: $dark;
    .fl-img {
      img {
        float: right;
      }
    }
  }
  &.home-work,
  &.home-pd {
    h2, p {color: #FFFFFF;}
  }
  &.home-fw {
    h2, p {color: #FFFFFF;}
  }
}

section.bg--dark {
  background: $dark;
  h2, h3, p, h4, h5, ul, li {
    color: #FFFFFF !important;
  }
  .container {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}


section.project-next-prev {
  height: auto;
  min-height: auto;
  max-height: auto;
  padding: 24px 0 122px 0;
  h2 {
    text-align: left;
    margin: 0 auto 48px auto;
    color: rgba(255,255,255,0.33) !important;
  }
  ul.work-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    list-style: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 0;
    position: relative;
    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   height: 75%;
    //   width: 3px;
    //   background: rgba(255,255,255,0.25);
    //   border-radius: 3px;
    // }
    li {
      list-style: none;
      list-style-type: none;
      flex: 1;
      padding: 0;
      margin: 24px 2.2% 0 2.2%;
      max-width: 688px;
      display: flex;
      min-height: 420px;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      h4 {
        text-transform: uppercase;
        color: $dark;
        @include projectText;
        position: relative;
        display: block;
        line-height: 1.1;
        padding-top: 36px;
        // padding-left: 11px;
        margin: 0 0;
        font-weight: 800;
        letter-spacing: 0.08em;
        span {
          font-size: 89%;
          font-family: 'LuloCleanOutline-Bold', sans-serif;
          font-weight: 400;
          letter-spacing: 0em;
        }
      }
      .button-holder {
        margin-top: 12px;
      }
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      .work-item__wrap {
        position: relative;
        padding: 0 0;
        flex: 0 0 calc(68% - 12px);
        padding-left: 24px;
      }
      .work-item__wrap--img {
        padding-left: 0px;
        flex: 0 0 calc(32% - 12px);
        min-width: 168px;
        padding-left: 0px;
        img {
          display: block;
          width: 100%;
          height: auto;
          max-width: 168px;
          // max-height: 224px;
          opacity: 1;
        }
      }
    }
  }
}

.work-logo--home {
  align-self: center;
  img {
    width: 100%;
    max-width: 340px !important;
    // opacity: 0;
  }
}

.case-about {
  height: auto;
  min-height: auto;
  padding: 88px 0;
}



footer {
  position: relative;
  margin: 0 auto;
  min-height: 400px;
  padding: 44px 0px 66px 0px;
  background: $dark url("../img/footer-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
  .container.flx {
    padding: 148px 38px 100px 38px;
    justify-content: space-between !important;
    align-items: center;
    .fl-contact {
      flex: 1;
      text-align: right;
      max-width: calc(100% - 266px);
      max-width: 600px;
      ul {
        position: relative;
        display: block;
        list-style: none;
        list-style-type: none;
        li {
          list-style-type: none;
          display: inline-block;
          margin: 0 2px;
          &:first-child {margin-left: 0px;}
          &:last-child {margin-right: 0px;}
          a {
            display: inline-block;
            height: 100%;
            padding: 8px 2px;
            .nav-icon {
              display: inline-block;
              width: 48px;
              height: 48px;
              border-radius: 48px;
              line-height: 56px;
              text-align: center;
              margin: 0 2px;
              opacity: 0;
              transform: translateY(50px);
              transform-origin: center center;
              transition: opacity 860ms ease-out, transform 1240ms cubic-bezier(0.175, 0.885, 0.320, 1);
              transition: opacity 860ms ease-out, transform 1240ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
              box-shadow: 0px 2px 6px rgba(0,0,0,0.16);
              i {
                font-size: 1.48em;
                color: #FFFFFF;
              }
              &.fb {background: #3b5998;}
              &.ig {background: #cd486b;}
              &.li {background: #0077b5;}
              &.em {background: #d69600;}
            }
            &:hover {
              .nav-icon {
                transform: translateY(0px);
              }
            }
          }
        }
        &.footer-nav {
          margin: 18px 0;
          opacity: 0;
          transition: opacity 860ms ease-out;
          li {
            margin: 0 12px;
            &:first-child {margin-left: 0px;}
            &:last-child {margin-right: 0px;}
            a {
              padding: 0 0;
              span {
                font-weight: 600;
                letter-spacing: 0.228em;
                font-size: 0.78em;
                text-transform: uppercase;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
    .fl-logo {
      flex: 1;
      padding-top: 2px;
      width: 100%;
      max-width: 266px;
      a.logo-holder {
        display: block;
        .footer-logo {
          width: 100%;
          max-width: 100%;
          polygon, rect {
            fill: rgba(255,255,255,0);
            stroke: #FFFFFF;
            stroke-width: 2.5;
            stroke-dasharray: 580;
            stroke-dashoffset: 580;
            animation-duration: 180ms;
          }
        }
      }
      a.mail-link {
        display: inline-block;
        margin-top: 33px;
        span {
          letter-spacing: 0.014em;
          font-weight: 600;
          color: rgba(255,255,255,0.75);
          display: block;
          font-size: 1.04em;
          transform: translateY(12px);
          opacity: 0;
          transition: opacity 860ms ease-out, transform 1240ms ease-out;
        }
      }
    }
    &.anim {
      .fl-logo {
        a.mail-link {
          span {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 900ms;
          }
        }
      }
      .fl-contact {
        ul {
          li {
            a {
              .nav-icon {
                transform: translateY(0px);
                opacity: 1;
                &.fb {transition-delay: 400ms;}
                &.ig {transition-delay: 450ms;}
                &.li {transition-delay: 500ms;}
                &.em {transition-delay: 550ms;}
              }
            }
          }
          &.footer-nav {
            opacity: 1; transition-delay: 440ms;
          }
        }
      }
      .fl-logo {
        a.logo-holder {
          .footer-logo {
            polygon, rect {
              animation-name: loading;
              animation-duration: 1920ms;
              animation-timing-function: cubic-bezier(0.355, 0.020, 0.355, 1.000);
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }
}



h2, h3 {
  @include heading2;
  text-transform: uppercase;
  font-weight: 800;
  word-spacing: 0.14em;
  letter-spacing: 0.14em;
  line-height: 1.2;
  span {
    font-size: 0.88em;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: 'LuloCleanOutline-Bold', sans-serif;
  }
}
p {
  display: block;
  color: $dark;
  margin: 24px 0 0 0;
  @include paragraph;
  font-weight: 400;
  letter-spacing: 0.008em;
  line-height: 1.58;
  width: 100%;
  max-width: 640px;
}




.grid {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.2%;
}
.col:first-child { margin-left: 0; }
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; }

.c-12 {width: 100%;}
.c-11 {width: 91.56%;}
.c-10 {width: 83.13%;}
.c-9 {width: 74.7%;}
.c-8 {width: 66.26%;}
.c-7 {width: 57.83%;}
.c-6 {width: 49.4%;}
.c-5 {width: 40.96%;}
.c-4 {width: 32.53%;}
.c-3 {width: 24.1%;}
.c-2 {width: 15.66%;}
.c-1 {width: 7.233%;}




.push-right {
  position: relative;
  padding-left: 98px;
}
.anchor-list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 94px;
  text-align: center;
  z-index: 20;
  padding-top: 42vh;
  box-shadow: none;
  // transform: translate(-50%, 0%);
  ul {
    list-style-type: none;
    list-style: none;
    li {
      position: relative;
      list-style: none;
      display: block;
      margin: 0 auto;
      line-height: 0;
      padding: 0 0;
      a {
        margin: 0 auto;
        display: block;
        opacity: 0.7;
        padding: 12px 0;
        transform-origin: center center;
        transform: scale(1);
        backface-visibility: hidden;
        transition: transform 440ms cubic-bezier(0.250, 0.105, 0.010, 1.000), opacity 320ms cubic-bezier(0.250, 0.105, 0.010, 1.000);
        span {
          display: block;
          margin: 0px auto;
          width: 38px;
          height: 38px;
          line-height: 34px;
          border-radius: 38px;
          background: rgba(255,255,255,0);
          border: 2px solid white;
          color: #FFFFFF;
          font-size: 0.88em;
          font-weight: 400;
          transition: background 440ms cubic-bezier(0.250, 0.105, 0.010, 1.000), color 440ms cubic-bezier(0.250, 0.105, 0.010, 1.000);
        }
        &:hover {
          transform: scale(1.35);
          opacity: 0.75;
          transition: transform 180ms cubic-bezier(0.250, 0.105, 0.010, 1.000), background 220ms cubic-bezier(0.250, 0.105, 0.010, 1.000), color 220ms cubic-bezier(0.250, 0.105, 0.010, 1.000);
        }
        &.active {
          opacity: 1;
          transform: scale(1.26);
          span {
            color: $dark;
            background: rgba(255,255,255,1);
          }
        }
      }
    }
  }
  .bubble {
    position: absolute;
    left: 338px;
    top: 28px;
    padding: 52px 22px;
    text-align: left;
    transform: translate(-52%, -50%) scale(0.95);
    transform-origin: left center;
    width: 480px;
    // height: 240px;
    background: $dark;
    box-shadow: 18px 4px 36px rgba(0,0,0,0.12);
    border-radius: 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0ms cubic-bezier(0.075, 0.820, 0.165, 1.000), transform 400ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    h4 {
      color: #FFFFFF;
      font-size: 2.2em;
      margin: 0 0;
      text-transform: uppercase;
      letter-spacing: 0.188em;
      span {
        font-family: 'LuloCleanOutline-Bold', sans-serif;
        font-size: 0.84em;
        letter-spacing: -0.032em !important;
      }
    }
    p {
      display: block;
      margin: 48px 0 0 0;
      color: #FFFFFF;
      font-size: 0.98em;
      line-height: 1.6;
      font-weight: 400;
      letter-spacing: -0.018em;
    }
    h4, p {
      opacity: 0;
      transform: translateY(25px);
      transition: opacity 1200ms cubic-bezier(0.075, 0.820, 0.165, 1.000), transform 1400ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }
    h4 {transition-delay: 50ms;}
    p {transition-delay: 180ms;}
  }
}
.anchor-list li:hover > .bubble {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  h4, p {
    opacity: 1;
    transform: translateY(0px);
  }
}


.cs-img {
  position: relative;
  margin: calc(122px + 1vw) 0;
  width: 100%;
  float: right;
  clear: both;
  display: block;
  &:first-child {
    margin-top: calc(88px + 1vw);
  }
}
// 743
.case-study {
  position: relative;
  padding: 66px 0 0 0;
  min-height: auto;
  height: auto;
  display: block !important;
  width: 100%;
  // &#cxption {background: #231f20;}
  &:before {
    display: block;
    height: 102px;
    height: 94px;
    height: 47px;
    background-color: $dark;
    width: 100%;
    content: '';
    margin: -66px 0 66px 0;
    display: none;
  }
  .container {
    width: 100%;
    max-width: 2440px;
    // max-width: 1440px;
    margin: 0 auto;
    padding: 0 0;
    padding-left: calc(3.8vw + 22px);
  }
  h4 {
    font-weight: 300;
    margin: 0 0 -22px 0;
    line-height: 1;
    padding: 0 0;
    display: block;
    @include heading2;
    -webkit-font-smoothing: antialiased;
    color: $dark;
  }
  h2, h3 {
    color: $dark;
    @include heading2;
    line-height: 0.95;
    position: relative;
    display: block;
    padding-top: 22px;
    // padding-left: 11px;
    margin: 0 0;
    font-weight: 800;
    letter-spacing: 0.08em;
    span {
      font-size: 89%;
      font-family: 'LuloCleanOutline-Bold', sans-serif;
      font-weight: 400;
      letter-spacing: 0em;
    }
  }
  p {
    @include paragraph;
    display: block;
    width: 100%;
    margin: 33px 0 0 0;
    max-width: calc(8vw + 640px);
    line-height: 1.7;
    padding-bottom: 22px;
    // padding-left: 44px;
  }
  .c-2 {
    // padding: 0 0 0 calc(22px + 2.6vw);
    overflow: visible;
  }
  // .c-10 {
  //   padding-top: calc(8.2vw + 3em);
  // }
  // .c-10.extra {
  //   padding-top: calc(12vw + 3em);
  // }
}
.img-holder {
  position: relative;
  margin: 0px 0;
  float: right;
  width: 100%;
  max-width: 1480px;
  min-height: 120px;
  max-height: 920px;
  overflow: visible;
  img {
    display: block;
    width: 100%;
    max-width: 1480px;
    // opacity: 0;
    // transition: opacity 440ms 300ms cubic-bezier(0.250, 0.105, 0.010, 1.000);
  }
  &.ws {
    img {
      box-shadow: 0px 14px 48px rgba(0,0,0,0.12);
    }
  }

}


.header__bg--home {
  user-select: none;
  position: absolute;
  top: -13%;
  left: -13%;
  width: 126%;
  height: 126%;
  overflow: hidden;
  background: url('../img/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // display: none;
}




.button-holder {
  display: block;
  clear: both;
  margin: 36px 0 0 0;
  .button {
    display: inline-block;
    height: 68px;
    line-height: 68px;
    min-width: 194px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid $dark;
    background-color: rgba(25,25,26,0);
    transform: scale(1);
    padding: 0 36px;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: background-color 260ms ease-out, transform 440ms cubic-bezier(0.175, 0.885, 0.320, 1);
    transition: background-color 260ms ease-out, transform 440ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    span {
      font-weight: 700;
      font-size: 0.96em;
      text-transform: uppercase;
      letter-spacing: 0.24em;
      color: $dark;
      transition: color 260ms ease-out;
    }
    &.w-arrow {
      span {
        &:after {
          content: '\f121';
          font-family: 'FontAwesome';
          display: inline-block;
          vertical-align: middle;
          font-size: 0.96em;
          color: $dark;
          margin-left: 16px;
          margin-right: -8px;
        }
      }
    }
    &.white {
      background-color: rgba(255,255,255,0);
      border: 2px solid #FFFFFF;
      span {
        color: #FFFFFF;
      }
      &.w-arrow {
        span {
          &:after {
            color: #FFFFFF !important;
          }
        }
      }
      &:hover {
        background-color: rgba(255,255,255,1);
        span {
          color: $dark;
          &:after {
            color: $dark !important;
          }
        }
      }
    }
    &:hover {
      transform: scale(1.05);
      background-color: rgba(25,25,26,1);
      span {
        color: #FFFFFF;
        &:after {
          color: #FFFFFF !important
        }
      }
    }
    &:active {
      transform: scale(0.95);
      transition: background-color 260ms ease-out, transform 220ms cubic-bezier(0.175, 0.885, 0.320, 1);
      transition: background-color 260ms ease-out, transform 220ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }

  }
}

.white {color: #FFFFFF !important;}

.el {
  h1, h2, p, .button-holder, span.numeral, ul.work-items li,  {
    transform: translateY(45px);
    opacity: 0;
    transition: opacity 700ms cubic-bezier(0.250, 0.105, 0.010, 1.000), transform 1000ms cubic-bezier(0.250, 0.105, 0.010, 1.000);
  }

}


.el.anim {
  h1, h2, p, .button-holder, span.numeral, ul.work-items li {
    transform: translateY(0px);
    opacity: 1;
  }
  h1, h2, ul.work-items li:first-child {
    transition-delay: 200ms;
  }
  section.project-next-prev h2 {
    transition-delay: 0ms !important;
  }
  p, ul.work-items li:last-child {
    transition-delay: 420ms;
  }
  .button-holder {
    transition-delay: 640ms;
  }

}



.img-holder {
  position: relative;
  opacity: 0!important;
  transform: translateX(88px)!important;
  transition: opacity 1600ms cubic-bezier(0.770, 0.000, 0.175, 1.000), transform 2200ms cubic-bezier(0.770, 0.000, 0.175, 1.000)!important;
}
.img-holder:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
    // padding-bottom: 42.86%;
}
.img-holder > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.anim.img-holder {
  opacity: 1!important;
  transform: translateX(0px)!important;
  transition: opacity 700ms cubic-bezier(0.250, 0.105, 0.010, 1.000), transform 1000ms cubic-bezier(0.250, 0.105, 0.010, 1.000)!important;
}
// .js-tilt-two {
//   backface-visibility: hidden;
//   height: 100%;
// }
// .js-tilt-three {
//   backface-visibility: hidden;
// }

@keyframes loading {
  0% {stroke-dashoffset: 580;}
  50% {stroke-dashoffset: 0;fill: rgba(255,255,255,0);}
  100% {stroke-dashoffset: 0;fill: rgba(255,255,255,1);}
}
@keyframes fadeIn {0% {opacity: 0;} 100% {opacity: 1;}}


.swiper-button-prev,
.swiper-button-next {
  width: 56px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: 34px 34px !important;
  pointer-events: all;
  // z-index: 40 !important;
}
.swiper-button-prev {
  background-position: left center;
  left: 16px;
}
.swiper-button-next {
  background-position: right center;
  right: 16px;
}
.swiper-wrapper,
.swiper-slide{
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-container {
  min-height: 100vh;
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
  align-items: center;
  position: relative;
}

 .swiper-slide {
   height: 100%;
   width: 100%;
   height: 100vh;
   max-height: 992px;
   min-height: 680px;
   // z-index: 20;
   padding: 64px 22px;
   position: relative;
   overflow-x: hidden;
   display: inline-block !important;
   .fl-img,
   .fl-text {
     padding: 0 36px !important;
   }
   h2 {
     @include heading2;
   }
   .container {
      max-width: 1280px;
      padding: 0 36px !important;
   }
  //  .fl-img {
  //    display: none !important
  //  }
  // &.slide--cyberox {
  //   background: url('../img/cyberox-bg.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  // }
  // &.slide--studiosurf {
  //   background: url('../img/studiosurf-bg.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  // }
  // &.slide--cxption {
  //   background: url('../img/cxption-bg.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  // }
  // &.slide--arktos {
  //   background: url('../img/arktos-bg.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  // }
  // &.slide--jansu {
  //   background: url('../img/bi/jansu_1.jpg');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  // }
}
.swiper-pagination {
	position: absolute;
	bottom: 122px !important;
	left: 50% !important;
  transform: translateX(-50%);
	width: auto !important;
	right: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	// padding: 5px 10px;
	// border-radius: 0;
	width: auto;
  width: 26px;
	height: 26px;
  border-radius: 26px;
  margin: 0 0px !important;
  opacity: 0.6;
	text-align: center;
	line-height: 24px;
  position: relative;
  background-color: transparent;
  background: transparent;
  backface-visibility: hidden;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: opacity 680ms cubic-bezier(0.075, 0.820, 0.165, 1.000), transform 680ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  &:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 16px;
  }
}
.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.66);
}
.swiper-button-disabled {opacity: 0 !important;}

span.numeral {
  &.white {
    color: rgba(255,255,255,0.25) !important;
  }
  display: block;
  margin: 0 0 12px 0;
  line-height: 1;
  font-size: 1.92em;
  // font-weight: 800;
  color: rgba(16, 14, 27, 0.25) !important;
}


@media screen and (max-width: 992px) {


  // .topmenu--fixed {
  //   position: fixed;
  //   top: 0;
  // width: 100%;
  // transition: none !important;
  // transform: translateY(0) !important;
  //   &.top, &.not-top, &.slideDown.not-top, &.slideUp.not-top, &.slideUp.top {
  //     transition: none;
  //     transform: translateY(0);
  //   }
  // }
  .header__bg--home {
    background-position: 66% top;
  }

  ul.footer-nav {
    display: none !important;
  }

  .container {padding: 0 22px;}

  .col {  margin: 1% 0 1% 0%; }

  .c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12 {
	  width: 100%;
	}

  .el.anim {
    h1, h2 {
      transition-delay: 0ms;
    }
    p {
      transition-delay: 220ms;
    }
  }
  .attract-hover-easing, .attract-hover {
    transform: translate(0) !important
  }
  span.numeral {
    font-size: 1.442em;
  }

  h2 {
    padding-top: 0px;
    span {
      font-size: 89%;
    }
  }

  p {
    margin: 24px 0 0 0;
    font-size: 0.91em;
    font-weight: 400;
    letter-spacing: 0.008em;
    line-height: 1.4;
    width: 100%;
    max-width: 100%;
  }


  header, section {
    min-height: auto;
    // height: auto !important;
    height: 100vh;
  }
  header {
    min-height: 740px;
    .container.flx {
      height: 100%;
      // padding: 88px 22px 66px 22px !important;
      align-items: center;
      justify-content: center;
      .fl-text {padding-left: 0 !important;}
    }
    h1 {
      width: auto;
      margin: 0 0;
      text-transform: uppercase;
      letter-spacing: 0.108em;
      line-height: 1.2;
      span {
        letter-spacing: 0.012em;
        font-size: 0.91em;
        font-weight: 600;
        font-family: 'LuloCleanOutline-Bold', sans-serif;
      }
    }
    p {
      font-weight: 300;
      display: block;
      @include paragraph;
      margin: 26px 0 0 0;
    }
  }
  section {
    .container.flx {
      padding-top: 66px;
      padding-bottom: 66px;
    }
  }
  .container.flx {
    align-items: flex-start;
    flex-direction: column;
    &.flx--home {
      flex-direction: row;
      align-items: center !important;
    }
    &.rtl {
      flex-direction: column-reverse;
    }
    &.rtr {
      align-items: flex-end;
    }
  }
  .fl-img {
    padding-right: 0px;
    padding-bottom: 44px;
    img {
      width: 100%;
      max-width: calc(32vw + 140px);
    }
  }
  .fl-text {
    padding-left: 0px;
    &.right {
      text-align: left !important;
      h1, h2, p, .button-holder {float: none !important; clear: both !important;}
    }
  }


  section.project-next-prev {
    padding: 24px 0;
    h2 {
      text-align: center;
    }
    ul.work-items {
      width: 100%;
      max-width: 100%;
      list-style: none;
      list-style-type: none;
      margin: 54px auto 0 auto;
      display: block;
      // &:after {
      //   top: calc(50% - 12px);
      //   height: 3px;
      //   width: 75%;
      // }
      li {
        display: block;
        height: auto;
        flex-direction: column;
        width: 100%;
        min-height: auto;
        height: auto;
        text-align: center;
        margin: 18% auto !important;

        .button-holder {
          margin-top: 16px;
          margin-bottom: 0;
        }
        .attract-hover-easing {
          padding: 0 0;
        }
        &:first-child {
          margin-left: 0px;
          &:after {
            margin-top:0;
            display: none;
          }
        }
        &:last-child {
          margin-right: 0px;
          margin-bottom: 0px;
        }
        .work-item__wrap {
          position: relative;
          flex: 1.4;
          padding: 0 36px;
        }
        .work-item__wrap--img {
          flex: 1;
          margin-bottom: 24px;
          img {
            margin: 0 auto;
            // max-width: 124px;
          }
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    bottom: auto;
    top: 4px;
    width: 44px;
    height: 44px;
    background-size: 24px 24px !important;
    transform: translate(0%, 0%) !important;
  }
  .swiper-button-prev {
    left: auto;
    right: 52px;
  }
  .swiper-button-next {
    left: auto;
    right: 22px;
  }
  .swiper-container {
    overflow: visible !important;
  }
  .swiper-container {
    min-height: auto;
    .container {
      padding: 0 0px !important
    }
  }
   .swiper-slide {
     height: 100%;
     height: auto;
     max-height: auto;
     min-height: auto;
     overflow: hidden;
     padding-left: 0px;
     padding-right: 0px;
   }
   .swiper-pagination {
     // display: none;
     bottom: 12px !important;
     left: 32px !important;
     transform: translateX(0%) !important;
   }

  .case-header {
    padding: 88px 0;
    .container.flx {
      align-items: flex-start !important;
      .fl-text {
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        padding: 0 0;
      }
    }
    &.case-header--cyberox {
      background-position: 75% center;
    }
    &.case-header--cxption {
      background-position: 91% 288px;
      h1 {
        margin-top: -16vh;
      }
    }
    &.case-header--arktos {
      background-position: 75% center !important;
      h1 {
        margin-top: -15vh;
      }
    }
    &.case-header--studiosurf {
      background-position: center bottom !important;
    }
  }
  .work-logo--home {
    img {
      width: 100%;
      max-width: 178px !important;
      min-width: auto;
      min-height: auto;
    }
  }


  footer {
    height: 540px;
    .container.flx {
      padding: 112px 22px 100px 22px;
      .fl-logo { margin-bottom: 66px; text-align: center;}
      .fl-contact {
        ul {
          li {
            margin: 0 7px;
          }
        }
      }
    }
  }


  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 74px;
    overflow-y: visible;
    z-index: 999;
    .container {
      .logo {
        position: absolute;
        top: 26px;
        left: 22px;
        width: 111px;
        z-index: 9999;
        a {
          display: block;
          svg {
            width: 100%;
            max-width: 111px;
            polygon, rect {
              transition: fill 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }
          }
        }
      }

    }
  }
  nav {
    top: 74px;
  }


  .menu-toggle {
    top: 8px;
    right: 6px;
  }


  .push-right {
    padding-left: 0;
  }

  .anchor-list, .anchor-list.is_stuck, .anchor-list.sticky-al, .anchor-list.stick_in_parent {
    position: fixed !important;
    top: auto !important;
    bottom: 0px !important;
    padding: 16px 22px 74px 22px !important;
    transform: translateY(0px) !important;
    margin-bottom: 0px !important;
    max-width: 100%;
    height: 92px !important;
    background: $dark;
    z-index: 888;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px -9px 24px rgba(0,0,0,0.22);
    display: none;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 70%;
      li {
        display: inline-block;
      }
    }
  }

  .case-about {
    padding: 66px 0 66px 0;
    h2 {margin-top: 0;}
  }
  .case-study {
      .container {
        padding-left: 22px;
      }
    p {padding-right: 22px; margin-top: 12px;}
  }
  .cs-img {
    margin: 6vmin 0;
  }

}



  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border: 0px none $dark;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #FFFFFF;
  }
  ::-webkit-scrollbar-track {
    background: $dark;
    border: 0px none $dark;
  }
  ::-webkit-scrollbar-track:hover {
    background: $dark;
  }
  ::-webkit-scrollbar-track:active {
    background: $dark;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }


::selection {
  background: #000000;
  color: #FFFFFF;
}
::-moz-selection {
  background: #000000;
  color: #FFFFFF;
}
